<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">



  <!-- 这个权限用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <!-- 这个权限用于访问系统接口提供的卫星定位信息-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- 访问网络，网络定位需要上网-->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".App"
    android:theme="@style/Theme.SPICaWeather3"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:enableOnBackInvokedCallback="false"
    android:label="@string/app_name"
    android:usesCleartextTraffic="true"
    android:supportsRtl="true">
    <meta-data
      android:name="design_width_in_dp"
      android:value="375"/>
    <meta-data
      android:name="com.baidu.lbsapi.API_KEY"
      android:value="l85vv4c05RXPxV948SbXCkTMQPkVlHiR" >
    </meta-data>
    <activity
      android:name=".MainActivity"
      android:theme="@style/Theme.SPICaWeather3"
      android:exported="true"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>

    <!-- 今日天气信息小组件 -->
    <receiver
        android:name=".ui.app_widget.TodayInfoAppWidgetReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/today_info_widget_info" />
    </receiver>

    <!-- 一周天气小组件 -->
    <receiver
        android:name=".ui.app_widget.WeeklyWeatherAppWidgetReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/weekly_weather_widget_info" />
    </receiver>

  </application>

</manifest>